<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
                 alt="Workflow">
          </div>
          <div class="text-xl ml-3 text-white font-bold">Discover Angular</div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

              <a routerLink="/products"
                 routerLinkActive="router-link-active"
                 class="router-link" aria-current="page">Products</a>

              <a routerLink="/users"
                 routerLinkActive="router-link-active"
                 class="router-link">Users</a>

              <a routerLink="/orders"
                 routerLinkActive="router-link-active"
                 class="router-link">Orders</a>
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button"
                  class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  aria-controls="mobile-menu"
                  aria-expanded="false"
                  (click)="dropMenu = !dropMenu"
          >
            <span class="sr-only">Open main menu</span>

            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" [hidden]="!dropMenu" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a routerLink="/products"
           routerLinkActive="router-link-active"
           class="router-link block">Products</a>

        <a routerLink="/users"
           routerLinkActive="router-link-active"
           class="router-link block">Users</a>

        <a routerLink="/orders"
           routerLinkActive="router-link-active"
           class="router-link block">Orders</a>
      </div>
    </div>
  </nav>
  <main>
    <div class="max-w-7xl py-6 p-3 sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
    </div>

      <button
        class="fixed bottom-10 right-10 transition duration-200 ease-in-out
               active:bg-gray-500 hover:bg-gray-600
               rounded-full shadow-2xl px-4 py-3 bg-gray-800
               font-medium text-white flex items-center gap-1.5"
        (click)="contactDialog = true">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Contact us</span>
      </button>

    <app-contact [(dialog)]="contactDialog">
    </app-contact>
  </main>
</div>
